body{
    background-image: URL("./images/top-view-brown-background-photo-color-desk-wood.jpg");
    background-repeat: no-repeat;
    background-size: 100% 120%;
    padding: 20px 30px;
}

    #idContent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 60px 500px 50px;
    gap: 10px;
    }

    #mainId{
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-template-rows: 1fr 1fr;
            gap: 10px;  
    }

        .mainLeft {
            background-color: rgba(250, 235, 215, 0.308);
            grid-column: 1 / 2;
            grid-row: 1/3;
            border: 1px solid black;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            border-radius: 5%;
            gap: 10px;
            padding: 40px;
        }

            .mainLeft > .btn {
                background: antiquewhite;
                box-shadow: 5px 5px #999999
            }


        .mainRight {
            grid-column: 2/3;
            grid-row: 1/3;
            border: 1px solid brown;
            border-radius: 5%;
        }

        .nav-bar {
            grid-column: 1 / 4;
            grid-row: 1 / 2;
            display: flex;
            flex-direction: row;
            justify-content:space-between;
            padding: 5px;
            padding-top: 5px;
            margin-bottom: 10px;        
        }

            .nav-bar > div {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
            
                ul {
                    list-style: none;
                    display: flex;
                    flex-direction: row;
                    gap: 20px;
                
                    }

                    ul li a{
                        color: blanchedalmond;
                        font-size:x-large;   
                    }

        .footer{grid-column: 1 / 4;
            grid-row: 3 / 4;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: baseline;
            padding: 10px;
            margin-top: 10px;
            border-radius: 5%;
        }

    a {
        color: blanchedalmond;
    }

    .brown {
        background: rgba(137, 29, 29, 0.633);
    }

    #menuId{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 5px brown solid;
       
    }

    .menuItem { display: flex;
        flex-direction: row;
        align-items: center;
        margin: -15px;
    }

    .image{
        height: 12rem;
        width: 12rem;    
    }

    .text {color:  brown;
        font-style: italic;
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(250, 235, 215, 0.800);
        height: 12rem;
        width: 400px;
        
    }

    #logo{
        background: url("./images/loggo.png");
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-size: contain;
        background-repeat: no-repeat;
    }

    #mainRightImg{
        background: url("./images/frontpage.jpg");
        width: auto;
        height: 450px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    #image0{ background: url("./images/mercimek.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    #image1{background: url("./images/lahmacun.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }


    #image2{background: url("./images/doner.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    #image3{background: url("./images/pide.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    #image4{background: url("./images/imambayildi.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }


    #image5{background: url("./images/baklava.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    